@import url('https://fonts.googleapis.com/css?family=Bungee|Raleway');

body{
    color: black;
    font-family: 'raleway', sans-serif;
}
header{
    padding:10px; 
    border: double;
}
a{
    color:black; text-decoration: none;
}
a:hover{
    color: darkgray;
}
a:visited{
    color:darkseagreen;
}
h1{
    font-size: 62px; 
    margin: auto;
}
h2{
    color: darksalmon;
}
ul{
    list-style: none; 
    font-size: 13px; margin-left: 50%; transform: translate(-50%); position: relative;
}
li{
    float: left; 
    padding: 15px; 
    letter-spacing: 2px;
}
h3{
    width: 100%; padding: 20px; letter-spacing: 5px; border-bottom: solid; 
}
abstraction{
    float:left; width: fixed; height: inherit;
}
fromlife{
    float:left; width: fixed; height: inherit;
}
banner{
    width: 500px; padding: 15px;
}

aboutme{
    text-align: justify; max-width: 300; position: relative;
}